<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.No15">
        <activity
            android:name=".Employee_login"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />/>
        <activity
            android:name=".Boss_login"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />/>
        <activity
            android:name=".OtherWork"
            android:exported="false"
            android:label="其他工作" />
        <activity
            android:name=".DataPage"
            android:exported="false"
            android:label="所有紀錄"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".FarmWork"
            android:exported="false"
            android:label="農場工作"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="身分選擇"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>